---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

import Layout from 'src/layouts/Layout.astro';
import H1 from 'src/components/H1.astro';
import Main from 'src/components/Main.astro';

const { slug } = Astro.params;

const post = await getEntry('posts', slug as string);

if (!post) {
  return Astro.redirect('/404')
}

interface Props {
  post: CollectionEntry<'posts'>;
}

const { Content } = await post.render(); 
---

<Layout 
	title={post.data.title}
>
	<Main>
    <div class="mb-6">
      <div class="text-zinc-500 text-2xl mb-8">
        ← <a href="/blog" class="underline">Back to all blogs</a>
      </div>
      <H1 text={post.data.title} />
      <img      
        src={post.data.image.src}
        alt={post.data.title}
        width={1024}
        height={1024 / 1.5}
        class="rounded-2xl shadow-xl mb-10 aspect-thumbnail object-cover"
      />
      <div class="prose prose-xl overflow-visible relative">
        <Content />
    </div>
    </div>
	</Main>
</Layout>
